# Ignore ALL dotfiles/dotdirs (starting with .)
.*
# Except .gitignore and .git/
!.gitignore
!.git/
ActionGenome
ollama/ollama_models
ollama/logs
star_code/data/datasets
star_code/outputs
star_code/models
star_code/.env

# ignore python temporary and compiled files
**/__pycache__/
*.py[cod]
*$py.class

# ignore .env files - may contain sensible data
**/.env
*private.env
