# Core Jupyter
jupyter
notebook
jupyterlab

# Data Science Essentials
numpy
pandas
scikit-learn>=1.6.1
scipy

# image processing
opencv-python>=4.11
scikit-image

# Interactive Widgets & Extensions
ipywidgets
ipyplot
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
ipykernel

# Jupyter Lab Extensions (if using JupyterLab)
jupyterlab_widgets

# Optional Kernels (Uncomment if needed)
# irkernel>=1.0.0  # For R support
jupyter

# plotting
matplotlib
seaborn

fastapi
uvicorn
nest
gensim


networkx
packaging


regex
requests
responses

transformers

wordcloud
urllib3
tqdm
tiktoken
tokenizers
pillow
nltk
